.accessories{
 
  &__info{
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    &-desc{
      @include text(400, 20px, 150%, #767ab9)
    }
    &-icons{
      font-size: 24px;
      margin-right: 8px;
    }
  }
}