.accessories{
 
  &__info{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    &-desc{
      @include text(400, 20px, 150%, #767ab9);
      width: calc(33%);
      text-align: center;
    }
    &-icons{
      font-size: 24px;
      margin-right: 8px;
    }
  }
}