.allPhone{
  &__content{
    &-block{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-box{
      padding: 5px;
      border-top: 1px solid #767ab9;
      border-right: 1px solid #767ab9;
      border-left: 1px solid #767ab9;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;

    }
    &-title{
      @include text(400, 18px, 150%, #767ab9);
      padding: 20px 10px;
      text-align: center;
      background: #f1f1f1;
    }
    &-column{
      border: 1px solid #767ab9;
      padding: 5px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;
      column-gap: 8px;
    }
    &-item{
      @include text(400, 18px, 150%, #767ab9);
      width: calc(33.33333% - 5.33333px);
      background: #f1f1f1;
      text-align: left;
      padding: 8px 5px;
      cursor: pointer;
    }
    &-bottom{
      display: flex;
      column-gap: 8px;
      margin: 8px 0;
      flex-wrap: wrap;
    }
    &-row{
      @include text(400, 14px, 150%, #767ab9);
      width: calc(14.28571% - 6.85714px);
      text-align: center;
      background: #f1f1f1;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 5px;

    }
    &-phone{
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 15px;
      margin: 50px;

    }
  }
}