.favorite{
  &__content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }

}
.favoriteCard{
  width: calc(25% - 11.25px);
  border: 2px solid #767ab9;
  border-radius: 30px;
  transition: .2s;
  cursor: pointer;
  &:hover {
    border: none;
    box-shadow: rgba(135, 165, 191, 0.48) 10px 5px 20px 4px, rgba(255, 255, 255, 0.8) -10px -5px 20px 4px;
    border-radius: 30px;
    transition: .2s;
    transform: scale(1.05);

  }
}